/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    overscroll-behavior: none;
    --main-color: #3d5fcf;
    --dark-color: #303030;
}

body {
    background-color: #f0f0f0;
}

a:link,
a:visited {
    text-decoration: none;
}

header {
    background-color: var(--dark-color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    /* TOTAL - HEADER - FOOTER */
    min-height: calc(100vh - 10vh - 10vh);
    padding: 20px;
}

.important {
    color: var(--main-color);
    font-weight: bold;
}

.websiteNav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.websiteNav ul li a:link,
.websiteNav ul li a:visited {
    color: #fff;
}

/* li:has(#currentPage) {
    order: -1;
} */

#currentPage {
    font-weight: 800;
    color: var(--main-color);
    padding-bottom: 5px;
    border-bottom: 3px solid currentColor;
}

footer {
    background-color: var(--dark-color);
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

footer ul li a {
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0 0 5px --main-color;
    display: block;
}

footer ul li a:link,
footer ul li a:visited {
    color: #fff;
}
