.infoContainer {
    width: fit-content;
    color: #303030;
}

.infoContainer h1 span {
    display: block;
}

.infoContainer p {
    width: 70%;
}

.cvButton {
    background-color: #3d5fcf;
    padding: 10px;
    display: block;
    width: fit-content;
    color: #fff;
    border-radius: 30px;
    margin-left: auto;
    align-self: flex-end;
    position: relative;
    top: 50px;
    transition: all 0.3s ease-in;
}

.cvButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #3d5fcf;
}

.landing img {
    width: 25%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: 0 0 60px #3d5fcf;
}
