.infoContainer {
    width: fit-content;
    color: var(--dark-color);
}

.infoContainer h1 span {
    display: block;
    font-size: 4rem;
}

.infoContainer p {
    width: 70%;
}

.cvButton {
    background-color: var(--main-color);
    padding: 1rem;
    display: block;
    width: fit-content;
    color: #fff;
    border-radius: 30px;
    margin-left: auto;
    position: relative;
    top: 50px;
    transition: all 0.3s ease-in;
}

.cvButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--main-color);
}

.landing picture {
    display: contents;
}

.landing picture img {
    width: 25%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: 0 0 60px var(--main-color);
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 2.8rem;
    }

    .landing {
        padding: 50px 20px;
        gap: 5dvh;
    }

    .infoContainer h1 span {
        font-size: 3rem;
    }

    .landing picture img {
        width: 40%;
    }

    .landing .infoContainer {
        max-width: calc(60% - 5dvh);
        display: flex;
        flex-direction: column;
        gap: 4dvh;
    }

    .cvButton {
        position: static;
        margin: 0;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: 1.8rem;
    }

    .infoContainer h1 span {
        font-size: 2.5rem;
    }

    .landing {
        flex-direction: column;
    }

    .landing picture img {
        order: -1;
        width: 70%;
    }

    .landing .infoContainer {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .landing .infoContainer p {
        width: 100%;
    }

    .cvButton {
        position: static;
        margin: 0;
    }
}
